mlflow==3.3.1
cloudpickle==3.1.1
defusedxml==0.7.1
distributed==2025.7.0
graphviz==0.21
jaraco-collections==5.1.0
matplotlib==3.7.5
numpy==1.26.4
pandas==2.1.4
pyarrow==21.0.0
pycaret==3.3.2
pytest==7.4.4
scikit-learn==1.4.2
scipy==1.11.4